
</main>

<footer class="page-footer font-small" style="background-color: white;">

  <!-- ==========Partie1======= -->
  <div style="background-color: #238bfd;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-6 text-center mb-4 mb-md-0">
          <h4 class="mb-0 text-white">Join us on our social networks</h4>
        </div>

        <div class="col-md-6 col-lg-6 text-center text-md-right">
<!-- Facebook --><a class="reseau" href="https://facebook.com"><i class="fab fa-facebook-f mr-4"></i></a>
<!-- Twitter --><a class="reseau" href="https://twitter.com"><i class="fab fa-twitter mr-4"></i></a>
<!--Linkedin --><a class="reseau" href="https://linkedin.com"><i class="fab fa-linkedin-in mr-4"></i></a>
<!--Instagram--><a class="reseau" href="https://instagram.com"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- ==========Partie2======= -->
  <div class="container text-center text-md-left mt-5" >
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Job-Discount</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #238bfd;">
        <p>Job-Discount, the company that helps you find a job you'll be proud of.</p>
      </div>

      <div class="col-md-3 col-lg-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #238bfd;">
        <p><a href="/connect/profile">My account</a></p>
        <p><a href="#!">Need help</a></p>
      </div>


      <div class="col-md-3 col-lg-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact :</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block" style="width: 60px; background-color: #238bfd;">
        <p><i class="fas fa-home mr-2"></i> Epitech, 69007, Lyon 7</p>
        <p><i class="fas fa-envelope mr-2"></i> hugo.manginot@epitech.eu</p>
        <p><i class="fas fa-envelope mr-2"></i> gabin.neron@epitech.eu</p>
        <p><i class="fas fa-phone mr-2"></i> 06.xx.xx.xx.xx </p>
      </div>
    </div>
  </div>

  <!-- ==========Partie3======= -->
  <div class="footer-copyright text-center py-3" style="background-color: lightgrey;">© 2020 Copyright:
    <a href="#"> Job-Discount.com</a>
  </div>
</footer>

</body>

</html>